.deleteBtn {
    background-image: url('../images/delete_button.png');
    background-size: cover;
    background-position: center;
    width: 25px;
    height: 25px;
}

.saveBtn {
    background-image: url('../images/save_icon.png');
    background-size: cover;
    background-position: center;
    width: 25px;
    height: 25px;
    
}